node_modules/
client/node_modules/
.env
*.log
# server/data/*.db
server/data/*.db-journal
server/data/*.db-shm
server/data/*.db-wal
.DS_Store
/dist/
update-fix.zip
status.txt
server/data/dish.db.backup
